---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About Me"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Elevate your online presence with a <br />
      <span class="text-accent dark:text-white"> Website taht works as hard as you do</span>
    </Fragment>

    <Fragment slot="subtitle">
     I'm Ilya, a Web Designer who creates modern, conversion-focused websites using high-quality templates and AI tools. My goal is to make your online presence professional, visually appealing and effective - without long timelines or unnecessary complexity.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about me"
    stats={[
      { title: 'Projects', amount: '10+' },
      { title: 'Average delivery time (days)', amount: '3' },
      { title: 'Design Tools', amount: '7' },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our templates"
    subtitle="A variety of ready-to-customize templates adapted for different industries and goals saving you time while keeping your website unique."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Educational',
        description:
          'Websites for online courses, schools or educational projects - clear structure and easy navigation for learners.',
        icon: 'tabler:template',
      },
      {
        title: 'Interior Design',
        description:
          'Portfolio for designers and studios that highlight projects with stunning visuals and smooth layouts.',
        icon: 'tabler:template',
      },
      {
        title: 'Photography',
        description:
          'Clean, image-focused designs to showcase photo galleries and creative work beautifully.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'E-commerce',
        description:
          'Online stores with a simple checkout process, product galleries and mobile-friendly layouts.',
        icon: 'tabler:template',
      },
      {
        title: 'Blog',
        description:
          'Modern blog layouts with clear typography and an enjoyable reading expirience.',
        icon: 'tabler:template',
      },
      {
        title: 'Business',
        description:
          'Professional multi-section layouts suitable for startups, agencies or local businesses.',
        icon: 'tabler:template',
      },
      {
        title: 'Branding',
        description:
          'Singla-page or multi-page sites to present your brand identity and story in a memorable way.',
        icon: 'tabler:template',
      },
      {
        title: 'Medical',
        description:
          'Websites for doctors with clear service lists and appointment booking options.',
        icon: 'tabler:template',
      },
      {
        title: 'Fashion Design',
        description:
          'Stylish, trend-focused templates for showcasing collections abd creative portfolios.',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="My work is guided by principles that ensure every project delivers value, quality and a positive experience for my clients."
    items={[
      {
        title: 'Customer-centric approach',
        description:
          'I focus on understanding your goals and target audience first, so the final website not only looks great but also works effectively for your business.',
      },
      {
        title: 'Constant Improvement',
        description:
          'I stay up-to-date with modern design trends and AI tools to make each new project better than the last.',
      },
      {
        title: 'Transparent Process',
        description:
          'From pricing to timelines, you always know what;s happening at every stage of your project - no hidden surprises.',
      },
    ]}
  />
</Layout>
