---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'WebDesigner',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contact Page',
        href: 'https://contactpage-delta.vercel.app/',
        target: '_blank',
        icon: '',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Web Designer <span class="hidden xl:inline">Building High-Converting Websites with</span>
      <span class="text-accent dark:text-white"> Figma,</span> AI & Modern Front End
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">My name is Ilya</span>. I'm a professional Web Designer creating clean, engaging and results-driven websites.
        Every project is crafted to boost your brand, attract more clients and deliever an exceptional User Experience.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span>
      Suitable for Startups, Small Business, Professional Portfolios, Marketing websites, Landing Pages &
      Blogs.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note title="Philosophy:" description="Simplicity, Best Practices and High Performance" />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What You Get When Working With Me"
    subtitle="Professional, modern and ready-to-use websites - Built fast, optimized for your goals and designed to impress your audience."
    items={[
      {
        title: 'AI-Powered Website Creation',
        description:
          'Using the latest AI tools to speed up design and development without sacrificing quality.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Template-Based Efficiency',
        description:
          'I adapt high-quality templates to fit your brand, saving you time and budget',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Fast Delivery',
        description:
          'From idea to launch in days, not weeks - Perfect for urgent projects',
        icon: 'tabler:rocket',
      },
      {
        title: 'Easy-To-Edit',
        description:
          "You'll be able to udate text, images and content without any technical skills",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside website"
    title="Designer's Blueprint: Fun Meets Functionality!"
    items={[
      {
        title: 'AI-Enchanced Workflow',
        description:
          'I use AI to speed up design and content cration without compromising on quality.',
      },
      {
        title: 'Premium Templates as a Base',
        description:
          'Every project starts with a carefully selected template, then customized to match your brand and goals.',
      },
      {
        title: 'Fully Responsive Design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by creating modern, ready-to-launch websites built around your goals.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Templates are tailored to your brand's style, colors and goals - making your site unique and memorable.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Chosen from proven layouts, then customize them to fit your content and highlight what matters most.',
      },
      {
        title: 'Clear, User-Friendly Navigation',
        description:
          "Layouts are structured so visitors can quickly find what they need, improving engagement and conversions",
      },
      {
        title: 'Integration of media',
        description:
          'Effortlessly add images, videos and animations that enchance your message and keep visitors engaged.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Unique Visual Identity',
        description:
          "Every Website is tyled to reflect your brand's personality, making it instantly recognizable to your audience.",
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Conversion-Focused Structure',
        description:
          "Layouts are built to guide visitors toward taking action - whether that's making a purchase, booking a call, or sending an inquiry.",
      },
      {
        title: 'Full Support',
        description: `From start to finish, you work directly with me - no intermediaries, ensuring your vision is fully realized.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream website live in just 3 simple steps:"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Consultation</span>',
        description:
          "We start with a quick call or chat to understand your goals, style preferences and the key features you need.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Desighn & Setup</span>',
        description:
          "Using high-quality templates and AI tools, I adapt the structure, colors and layouts to fit your brand.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Launch & Support</span>',
        description:
          'Your website goes live and is fully ready for visitors. I provide guidance so you can easily update it yourself',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Most used widgets"
    subtitle="Key building blocks I customize to bring your website's design and functionality to life."
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Find answers to common questions about my Web Design process, pricing and how we can work together."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why work with you instead of using website builder?',
        description:
          "Website builders can be limiting in design, perfomance and customizaation. I adapt professional templates with AI tools to match your brand, making your site unique, fast and conversin-focused",
      },
      {
        title: 'What do I need to start?',
        description:
          "Just share your brand name, information, preferred style and any content you already have (text, images, logo). If you don't have content, I can help create it.",
      },
      {
        title: 'Can I update my website myself?',
        description:
          "Yes. I make sure this site is easy to edit - you'll be able to change text, images and other content without coding skills. And you can always text me.",
      },
      {
        title: "How much does a website cost?",
        description:
          "It depends on the type and complexity. Landing pages usually start from $XX and multi-page sites start from $XX. I'll give a fixed quote after we discuss your needs.",
      },
      {
        title: 'Do you provide support after launch?',
        description:
          "Yes, but it depends on the scope of work. For small edits and quick fixes I can assist within a short time. For larger changes or redesigns, we'll agree on separate plan that fits your needs and budget.",
      },
      {
        title: 'How long does it take to complete a website?',
        description:
          "Most project take 2-5 days from the moment we agree on the design and content. Urgent project can be delievered even faster.",
      },
    ]}
  />
</Layout>
